import os
from dotenv import load_dotenv

# Loading env before importing services that might use it
load_dotenv()

app = Flask(__name__)
DATABASE_URL = os.getenv("POSTGRES_DB_URL")


if __name__ == "__main__":
    """
    Run the Flask app.
    """
    app.run(port=5001, debug=True)